<%- include('nav') -%>
  <main>
    <% if (user) { %>
      <div class="welcome">
        <h1>Hello,
          <%= user.firstName %>!
        </h1>
        <a id="new-message" href="/new">
          <button>
            +
          </button>
        </a>
      </div>
    <% } %>
    <div class="messages">
      <% messages.forEach(function(item) { %>
        <div class="message">
          <% if (user && (user.isMember || user.isAdmin)) { %>
            <p class="message-name">
              <%= item.name%>
            </p>
            <p class="message-username">@<%= item.username %></p>
          <% } %>
          <div class="message-content">
            <p class="message-text"><%= item.text %></p>
            <p class="message-time"><%= item.added_formatted %></p>
          </div>
          <% if (user && user.isAdmin) { %>
            <form action="/delete/<%= item.id %>" method="post">
              <button class="delete" type="submit">Delete</button>
            </form>
          <% } %>
        </div>
        <% }); %>
        </div>
      </main>
      <%- include('footer') -%>
